h1 {
  color: green;
  font-style: italic;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.blog-card {
  border: 1px solid #322c2b;
  margin: 4px 0;
  padding: 4px 12px;
}

.nav-menu {
  background-color: bisque;
}
